language: php

before_install:
  - sudo apt-get install -y poppler-utils

php:
  - '7.0'
  - '7.1'
  - '7.2'

before_script:
  - travis_retry composer self-update
  - travis_retry composer update --no-interaction --prefer-source

script:
  - phpunit
